@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bine ati venit pe pagina hotelului nostru.</h1>
        <img src="~/hotel.jpg"
             class="img-fluid rounded shadow"
             style="max-width: 600px;" />
    <p></p>
</div>
